.login_container {
  border: 5px solid black;
  width: 100%;
  height: 100vh;
  background-color: #7739e2;
  display: flex;
}
.background {
  border: 1px solid white;
  width: 54%;
  height: 100%;
  border-radius: 0px 100px 100px 0px;
  background-image: url("/src/images/background.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.inputs {
  border: 1px solid red;
  width: 46%;
  height: 100%;
}
.Back_btn_box {
  border: 1px solid black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}
.btn_text {
  border: 1px solid white;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_container {
  border: 1px solid red;
  width: 100%;
  margin-top: 80px;
}

.title {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 150px;
  color: white;
}

.box {
  border: 1px solid white;
  width: 100%;
}
.input {
  border: 1px solid green;
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  color: white;
}
.inp {
  width: 370px;
  height: 30px;
  background-color: #efeff4;
  border: none;
  outline: none;
  border-radius: 5px;
}

.btn_box {
  border: 1px solid green;
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
}

.btn_create_account {
  width: 370px;
  height: 40px;

  border-radius: 5px;

  background: #cfb3ff;
  outline: none;
  border: none;
}
