.admin_container {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7739e2;
}

/* .admin_info_box {
  border: 1px solid black;
  width: 92%;
  height: 500px;
  background-color: white;
  border-radius: 50px;
} */
