.container_res {
  background-color: #7739e2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.res_title {
  /* border: 1px solid red; */
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
}

.container_info {
  /* border: 1px solid red; */
  height: 500px;
  background-color: whitesmoke;
  border-radius: 50px;
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.project_res_title {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
}
.info_cont {
  /* border: 10px solid black; */
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.info_projet {
  /* border: 1px solid red; */
  width: 100%;
  height: 130px;
  display: flex;
  text-align: center;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-direction: column;
}

.title_question {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  font-style: normal;
  /* text-align: left; */
  color: black;
}

.result_container {
  width: 95%;
  /* border: 1px solid white; */
  border-radius: 50px;
  background-color: lightgray;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  font-style: normal;
  /* text-align: left; */
  color: black;
}

.chart {
  /* border: 1px solid wheat; */
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result_info {
  /* border: 3px solid black; */
  background-color: whitesmoke;
  margin: 10px;
  /* border-bottom: none; */
  border-top: none;
  border-right: none;
  border-radius: 50px;
  padding: 5px;
}
